<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="autenticacion">

    <select id="colaborador" parameterType="map" resultType="pojo.Colaborador">
        SELECT idColaborador, c.nombre, apellidoPaterno, apellidoMaterno,
        correo, CURP, c.idRol, s.idSucursal, r.rol, s.CUS
        FROM colaborador c
        INNER JOIN rol r ON r.idRol=c.idRol
        INNER JOIN sucursal s ON s.idSucursal = c.idSucursal
        WHERE c.estatus = 1 AND BINARY noPersonal= #{noPersonal} AND BINARY contraseña= #{contraseña};
    </select>
    
    <select id="conductor" parameterType="map" resultType="pojo.Conductor">
        SELECT idColaborador, c.noPersonal, c.nombre, apellidoPaterno, apellidoMaterno, correo, CURP, c.idSucursal, idConductor, CUS, noLicencia
        FROM colaborador c
        INNER JOIN rol r ON r.idRol=c.idRol
        INNER JOIN sucursal s ON s.idSucursal=c.idSucursal
        INNER JOIN conductor con ON c.noPersonal=con.noPersonal
        WHERE c.estatus = 1 AND BINARY c.noPersonal=#{noPersonal} AND BINARY contraseña=#{contraseña};
    </select>
      
</mapper>