<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="catalogo">
    <select id="obtener-noguia-disponibles" resultType="pojo.NoGuia">
        WITH EnviosDisponibles AS (
            SELECT 
                idEnvio,
                idHistorialEstatusEnvio,
                ROW_NUMBER() OVER(
                    PARTITION BY idEnvio
                    order by tiempo desc
                ) as FilaNumero
            FROM historialestatusenvio hee
        )
        select hee.idEnvio, noGuia
        from envio e
        INNER JOIN EnviosDisponibles u ON e.idEnvio = u.idEnvio AND u.FilaNumero = 1
        INNER JOIN historialestatusenvio hee ON u.idHistorialEstatusEnvio = hee.idHistorialEstatusEnvio
        inner join estatusenvio ee on hee.idestatusenvio=ee.idestatusenvio
        where ee.idEstatusEnvio=1;
    </select>
    
    <select id="obtener-roles" resultType="pojo.Rol">
        SELECT * from rol;
    </select>
    
    <select id="obtener-sucursal-disponibles" resultType="pojo.CUS">
        SELECT idSucursal, CUS FROM sucursal WHERE estatus = 1;
    </select>
    
    <select id="obtener-ciudad-estado" parameterType="int" resultType="pojo.Direccion">
        SELECT DISTINCT ciudad, estado
        FROM colonia c
        INNER JOIN ciudad ci ON c.idCiudad=ci.idCiudad
        INNER JOIN estado e ON ci.idEstado=e.idEstado
        WHERE codigoPostal = #{codigoPostal};
    </select>
    
    <select id="obtener-colonias" parameterType="int" resultType="pojo.Direccion">
        SELECT idColonia, colonia
        FROM colonia
        WHERE codigoPostal = #{codigoPostal}
    </select>
    
    <select id="obtener-tipos-unidad" resultType="pojo.TipoUnidad">
        SELECT tipo FROM tipounidad;
    </select>
    
    <select id="obtener-nombres-clientes" resultType="pojo.Cliente">
        SELECT idCliente, nombre, apellidoPaterno, apellidoMaterno FROM cliente;
    </select>
    
</mapper>