<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaborador">
    <select id="obtener-colaboradores" resultType="pojo.Conductor">
        SELECT idColaborador, c.noPersonal, c.nombre, apellidoPaterno, apellidoMaterno, correo, CURP, noLicencia, r.idRol, r.rol, s.idSucursal, s.CUS
        FROM colaborador c
        INNER JOIN rol r ON c.idRol=r.idRol
        INNER JOIN sucursal s ON c.idSucursal=s.idSucursal
        LEFT JOIN conductor con ON c.noPersonal=con.noPersonal
        WHERE c.estatus = 1;
    </select>
    
    <select id="buscar-colaborador" parameterType="String" resultType="pojo.Conductor">
        SELECT idColaborador, c.noPersonal, c.nombre, apellidoPaterno, apellidoMaterno, correo, CURP, noLicencia, r.idRol, r.rol, s.idSucursal, s.CUS
        FROM colaborador c
        INNER JOIN rol r ON c.idRol=r.idRol
        INNER JOIN sucursal s ON c.idSucursal=s.idSucursal
        LEFT JOIN conductor con ON c.noPersonal=con.noPersonal
        WHERE c.estatus = 1 AND
        (c.noPersonal LIKE CONCAT('%', #{busqueda}, '%')
        OR c.nombre LIKE CONCAT('%', #{busqueda}, '%')
        OR apellidoPaterno LIKE CONCAT('%', #{busqueda}, '%')
        OR apellidoMaterno LIKE CONCAT('%', #{busqueda}, '%'));
    </select> 
    
    <select id="obtener-colaboradores-rol" parameterType="int" resultType="pojo.Conductor">
        SELECT idColaborador, c.noPersonal, c.nombre, apellidoPaterno, apellidoMaterno, correo, CURP, noLicencia, r.idRol, r.rol, s.idSucursal, s.CUS
        FROM colaborador c
        INNER JOIN rol r ON c.idRol=r.idRol
        INNER JOIN sucursal s ON c.idSucursal=s.idSucursal
        LEFT JOIN conductor con ON c.noPersonal=con.noPersonal
        WHERE c.estatus = 1 AND c.idRol=#{idRol};
    </select>  
    
    <select id="buscar-colaborador-rol" parameterType="map" resultType="pojo.Conductor">
        SELECT idColaborador, c.noPersonal, c.nombre, apellidoPaterno, apellidoMaterno, correo, CURP, noLicencia, r.idRol, r.rol, s.idSucursal, s.CUS
        FROM colaborador c
        INNER JOIN rol r ON c.idRol=r.idRol
        INNER JOIN sucursal s ON c.idSucursal=s.idSucursal
        LEFT JOIN conductor con ON c.noPersonal=con.noPersonal
        WHERE c.estatus = 1 AND c.idRol = #{idRol} AND
        (c.noPersonal LIKE CONCAT('%', #{busqueda}, '%')
        OR c.nombre LIKE CONCAT('%', #{busqueda}, '%')
        OR apellidoPaterno LIKE CONCAT('%', #{busqueda}, '%')
        OR apellidoMaterno LIKE CONCAT('%', #{busqueda}, '%'));
    </select>  
    
    <insert id="registrar-colaborador" parameterType="pojo.Colaborador">
        INSERT INTO colaborador (noPersonal, nombre, apellidoPaterno, apellidoMaterno, correo, contraseña, CURP, idRol, idSucursal)
        VALUES (#{noPersonal}, #{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{correo}, #{contraseña}, #{CURP}, #{idRol}, #{idSucursal})
    </insert> 
    <insert id="registrar-conductor" parameterType="pojo.Conductor">
        INSERT INTO conductor (noPersonal, noLicencia)
        VALUES (#{noPersonal}, #{noLicencia});
    </insert>     
    
    <update id="actualizar-colaborador" parameterType="pojo.Colaborador">
        UPDATE colaborador
        SET nombre =#{nombre},
        apellidoPaterno = #{apellidoPaterno},
        apellidoMaterno = #{apellidoMaterno},
        correo = #{correo},
        CURP = #{CURP},
        idSucursal = #{idSucursal}
        WHERE idColaborador = #{idColaborador};
    </update>
    
    <update id="actualizar-colaborador-contraseña" parameterType="pojo.Colaborador">
        UPDATE colaborador
        SET nombre =#{nombre},
        apellidoPaterno = #{apellidoPaterno},
        apellidoMaterno = #{apellidoMaterno},
        correo = #{correo},
        CURP = #{CURP},
        idSucursal = #{idSucursal},
        contraseña = #{contraseña}
        WHERE idColaborador = #{idColaborador};
    </update>
    
    
    <select id="obtener-foto" parameterType="int" resultType="pojo.Colaborador">
        SELECT idColaborador, to_base64(fotografia) as fotoBase64
        from colaborador
        where idColaborador = #{idColaborador};
    </select>
    
    <update id="subir-foto" parameterType="pojo.Colaborador">
        UPDATE colaborador 
        SET fotografia = #{fotografia}
        WHERE idColaborador = #{idColaborador};
    </update>
    
    
    <select id="obtener-conductores-sucursal" parameterType="int" resultType="pojo.Conductor">
        SELECT idConductor, col.noPersonal, noLicencia, nombre, apellidoPaterno, apellidoMaterno
        FROM conductor con
        INNER JOIN colaborador col ON con.noPersonal=col.noPersonal
        WHERE estatus = 1 AND idSucursal=#{idSucursal};
    </select>
    
    <select id="buscar-conductores-sucursal" parameterType="map" resultType="pojo.Conductor">
        SELECT idConductor, col.noPersonal, noLicencia, nombre, apellidoPaterno, apellidoMaterno
        FROM conductor con
        INNER JOIN colaborador col ON con.noPersonal=col.noPersonal
        WHERE estatus = 1 AND idSucursal=#{idSucursal}
        AND (col.noPersonal LIKE CONCAT('%', #{busqueda}, '%')
        OR noLicencia LIKE CONCAT ('%', #{busqueda}, '%')
        OR nombre LIKE CONCAT('%', #{busqueda}, '%')
        OR apellidoPaterno LIKE CONCAT('%', #{busqueda}, '%')
        OR apellidoMaterno LIKE CONCAT('%', #{busqueda}, '%'));
    </select>
    
    
    
</mapper>