<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="paquete">
    
    <select id="obtener-paquetes" resultType="pojo.Paquete">
        SELECT descripcion, peso, alto, ancho, profundidad, idPaquete, idEnvio
        FROM paquete;
    </select>
    
    <insert id="registrar" parameterType="pojo.Paquete">
        INSERT INTO paquete (descripcion, peso, alto, ancho, profundidad, idEnvio)
        VALUES (#{descripcion}, #{peso}, #{alto}, #{ancho}, #{profundidad}, #{idEnvio});
    </insert>
    
    <update id="editar" parameterType="pojo.Paquete">
        UPDATE paquete
        SET descripcion= #{descripcion}, peso=#{peso}, alto=#{alto}, ancho=#{ancho}, profundidad=#{profundidad}
        WHERE idPaquete=#{idPaquete};
    </update>
    
    <delete id="eliminar" parameterType="int">
        DELETE FROM paquete WHERE idPaquete= #{idPaquete};
    </delete>
    
</mapper>