<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="unidad">

    <select id="obtener-unidades-disponibles" resultType="pojo.Unidad">
        WITH UltimoEstatusID AS (
            SELECT 
                idUnidad,
                idHistorialEstatusUnidad,
                ROW_NUMBER() OVER(
                    PARTITION BY idUnidad
                    ORDER BY tiempo DESC
                ) as FilaNumero
            FROM historialestatusunidad
        )
        SELECT u.idUnidad, VIN, NII, año, modelo, marca, u.idTipoUnidad, u.idConductor, noLicencia, tipo,
        estatus, motivo, tiempo, heu.idColaborador, 
        c.nombre AS nombreColaborador, c.apellidoPaterno AS apellidoPatColaborador, c.apellidoMaterno AS apellidoMatColaborador, 
        ccon.nombre AS nombreConductor, ccon.apellidoPaterno AS apellidoPatConductor, ccon.apellidoMaterno AS apellidoMatConductor
        FROM unidad u
        INNER JOIN UltimoEstatusID uei ON uei.idUnidad = u.idUnidad AND uei.FilaNumero = 1
        INNER JOIN historialestatusunidad heu ON uei.idHistorialEstatusUnidad = heu.idHistorialEstatusUnidad 
        INNER JOIN tipounidad tu ON tu.idTipoUnidad= u.idTipoUnidad
        INNER JOIN colaborador c ON c.idColaborador=heu.idColaborador
        LEFT JOIN conductor con ON con.idConductor=u.idConductor
        LEFT JOIN colaborador ccon ON con.noPersonal=ccon.noPersonal
        WHERE estatus=1;
    </select>
    
    <select id="obtener-unidades-inactivas" resultType="pojo.Unidad">
        WITH UltimoEstatusID AS (
            SELECT 
                idUnidad,
                idHistorialEstatusUnidad,
                ROW_NUMBER() OVER(
                    PARTITION BY idUnidad
                    ORDER BY tiempo DESC
                ) as FilaNumero
            FROM historialestatusunidad
        )
        SELECT u.idUnidad, VIN, NII, año, modelo, marca, u.idTipoUnidad, u.idConductor, noLicencia, tipo,
        estatus, motivo, tiempo, heu.idColaborador, 
        c.nombre AS nombreColaborador, c.apellidoPaterno AS apellidoPatColaborador, c.apellidoMaterno AS apellidoMatColaborador, 
        ccon.nombre AS nombreConductor, ccon.apellidoPaterno AS apellidoPatConductor, ccon.apellidoMaterno AS apellidoMatConductor
        FROM unidad u
        INNER JOIN UltimoEstatusID uei ON uei.idUnidad = u.idUnidad AND uei.FilaNumero = 1
        INNER JOIN historialestatusunidad heu ON uei.idHistorialEstatusUnidad = heu.idHistorialEstatusUnidad 
        INNER JOIN tipounidad tu ON tu.idTipoUnidad= u.idTipoUnidad
        INNER JOIN colaborador c ON c.idColaborador=heu.idColaborador
        LEFT JOIN conductor con ON con.idConductor=u.idConductor
        LEFT JOIN colaborador ccon ON con.noPersonal=ccon.noPersonal
        WHERE estatus=0;
    </select>
    
    <insert id="registrar" parameterType="pojo.Unidad" useGeneratedKeys="true" keyProperty="idUnidad">
        INSERT INTO unidad (VIN, NII, año, modelo, marca, idTipoUnidad)
        VALUES (#{VIN}, #{NII}, #{año}, #{modelo}, #{marca}, #{idTipoUnidad});
    </insert>
    
    <insert id="registrar-estatus" parameterType="pojo.Unidad">
        INSERT INTO historialestatusunidad (estatus, motivo, tiempo, idUnidad, idColaborador)
        VALUES (1, '', now(), #{idUnidad}, #{idColaborador});
    </insert>
    
    <update id="editar" parameterType="pojo.Unidad">
        UPDATE unidad
        SET NII= #{NII}, año= #{año}, modelo= #{modelo}, marca= #{marca}, idTipoUnidad= #{idTipoUnidad}, VIN=#{VIN}
        WHERE idUnidad= #{idUnidad};
    </update>
    
    <select id="buscar-unidad" parameterType="String" resultType="pojo.Unidad">
        WITH UltimoEstatusID AS (
            SELECT 
                idUnidad,
                idHistorialEstatusUnidad,
                ROW_NUMBER() OVER(
                    PARTITION BY idUnidad
                    ORDER BY tiempo DESC
                ) as FilaNumero
            FROM historialestatusunidad
        )
        SELECT u.idUnidad, VIN, NII, año, modelo, marca, u.idTipoUnidad, u.idConductor, noLicencia, tipo,
        estatus, motivo, tiempo, heu.idColaborador, 
        c.nombre AS nombreColaborador, c.apellidoPaterno AS apellidoPatColaborador, c.apellidoMaterno AS apellidoMatColaborador, 
        ccon.nombre AS nombreConductor, ccon.apellidoPaterno AS apellidoPatConductor, ccon.apellidoMaterno AS apellidoMatConductor
        FROM unidad u
        INNER JOIN UltimoEstatusID uei ON uei.idUnidad = u.idUnidad AND uei.FilaNumero = 1
        INNER JOIN historialestatusunidad heu ON uei.idHistorialEstatusUnidad = heu.idHistorialEstatusUnidad 
        INNER JOIN tipounidad tu ON tu.idTipoUnidad= u.idTipoUnidad
        INNER JOIN colaborador c ON c.idColaborador=heu.idColaborador
        LEFT JOIN conductor con ON con.idConductor=u.idConductor
        LEFT JOIN colaborador ccon ON con.noPersonal=ccon.noPersonal
        WHERE estatus=1 AND
        (VIN LIKE CONCAT('%', #{busqueda}, '%')
        OR marca LIKE CONCAT('%', #{busqueda}, '%')
        OR NII LIKE CONCAT('%', #{busqueda}, '%'));
    </select>
    
    <insert id="dar-baja" parameterType="pojo.Unidad">
        INSERT INTO historialestatusunidad (estatus, motivo, tiempo, idUnidad, idColaborador)
        VALUES (0, #{motivo}, now(), #{idUnidad}, #{idColaborador});
    </insert>
    
</mapper>